config LYNX_ROM2
	bool "LYNX ROM2 (A1 silicon version)"
	default n

config LYNX_ROM3
	bool "LYNX ROM3 (A2 silicon version)"
	default n	
	
config LYNX_IBSS
	bool "LYNX IBSS function support"
	depends on LYNX_WM_MANAGER
	default y

config LYNX_DEBUG
	bool "LYNX debug file system support"
	default n

config LYNX_W2USB
	tristate "LYNX wifi with USB interface"
	default m

config LYNX_W2USB_FIRMWARE_ARRAY
	bool "LYNX USB use built-in firmware array rather than user-land's"
	depends on LYNX_W2USB
	default y

config LYNX_W2USB_NO_RESET
	bool "LYNX USB no reset"
	depends on LYNX_W2USB
	default n

config LYNX_W2SDIO
	tristate "LYNX wifi with SDIO interface"
	depends on !LYNX_W2USB
	default n

config LYNX_W2SDIO_FIRMWARE_ARRAY
	bool "LYNX SDIO use built-in firmware array rather than user-land's"
	depends on LYNX_W2SDIO
	default n

config SDIO_POLLING
	bool "LYNX SDIO use the polling mode in the RX path"
	depends on LYNX_W2SDIO
	default n

config LYNX_OS_LINUX
	bool "LYNX working OS == Linux"
	default y

config LYNX_WM_MANAGER
	bool "LYNX wifi manager function support"
	default n

config LYNX_WPA
	bool "LYNX WPA function support"
	depends on LYNX_WM_MANAGER
	default n

config CUST1_PRIV_BEACON_IE
	bool "LYNX support privately beacon ie for customer 1."
	default n
#	depends on !HOST_WPS

config HOST_WPS
	bool "LYNX use hostapd or wpa_supplicant do WPS process"
	depends on !CUST1_PRIV_BEACON_IE
	default n

config HOST_P2P
	bool "LYNX support to provide p2p interface controlled by wpa_supplicant"
	depends on HOST_WPS
	default n

config SUPPORT_MONITOR_MODE
	bool "LYNX support interface type as NL80211_IFTYPE_MONITOR"
	default n

config LYNX_POWER_SAVING
	bool "LYNX enable power saving by default"
	default n

config TIMER_HANDLER
	bool "LYNX enable timer handler function"
	default y

config LYNX_STATICS
	bool "LYNX record the device static info"
	default y

config DISABLE_HT40
	bool "LYNX disable HT40 ability"
	default n

config ENABLE_TXOPLIMIT_AP
	bool "LYNX enable using AP txoplimit " 
	default n
	
config UNIT_TEST
	bool "LYNX unit test func"
	depends on LYNX_DEBUG
	default n

config HOST_DEBUG_DEVICE
	bool "LYNX gets the device debug info"
	depends on LYNX_DEBUG
	default n
config MP_FW
	bool "LYNX MP FW"
	default n
config CH_15
	bool "LYNX SUPPORT CHANNEL 15"
	default n
config LOW_FREQ_CH
	bool "LYNX SUPPORT LOW FREQUENCY CHANNEL "
	default n

config HOST_ROAMING
	bool "LYNX support host roaming controlled by wpa_supplicant"
	default n
	
