CONFIG_LYNX_ROM2=y
CONFIG_LYNX_ROM3=y
CONFIG_LYNX_IBSS=y
CONFIG_LYNX_DEBUG=n
CONFIG_LYNX_W2USB_FIRMWARE_ARRAY=y
CONFIG_LYNX_W2USB=m
CONFIG_LYNX_W2USB_NO_RESET=y
CONFIG_LYNX_W2SDIO_FIRMWARE_ARRAY=n
CONFIG_LYNX_W2SDIO=n
CONFIG_LYNX_OS_LINUX=y
CONFIG_LYNX_WM_MANAGER=n
CONFIG_WPA=n
CONFIG_HOST_WPS=y
CONFIG_HOST_P2P=y
CONFIG_CUST1_PRIV_BEACON_IE=n
CONFIG_SUPPORT_MONITOR_MODE=n
CONFIG_LYNX_POWER_SAVING=n
CONFIG_SDIO_POLLING=n
CONFIG_TIMER_HANDLER=y
CONFIG_LYNX_STATICS=y
CONFIG_DISABLE_HT40=y
CONFIG_UNIT_TEST=n
CONFIG_HOST_DEBUG_DEVICE=n
CONFIG_ENABLE_TXOPLIMIT_AP=n
CONFIG_MP_FW=y
CONFIG_CH_15=n
CONFIG_LOW_FREQ_CH=n
CONFIG_HOST_ROAMING=n

