*.o
*.out
*.log
dist/
node_modules/
.env
*.exe
*.a
*.so
buildroot/
*.img
*.bin
*.o
*.a
*.so
*.log
*.tar.gz
*.tmp
tools/
*.tar.xz
image/
docs/
external-binary/
kernel/
loader/
mboot/
out/
pub/
rootfs/
*.debug
kware/
tee/ 
tee_bsp/